.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #152238;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.display-frame {
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 640;
  height: 480;
}
